@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f0f5f0;
}

@keyframes ticker-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
